<%= form_for(@welcome) do |f| %>

    <% puts "^^^^^^^^^^^^^^^^^^^^ hello world" %>

    <div class="field">
      <%= f.label :admincode %><br />
      <%= f.text_field :admincode %>
    </div>


    <div class="actions">
      <%= f.submit :style=>"color:white; background-color: orange;" %>
    </div>

<% end %>
